@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&|Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 14px;
    background-color: #FDFBF9;
}

header, main, footer {
    max-width: 700px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif, "Helvetica", "Arial";
    line-height: 1.7em;
}

.presentation-box {
    margin: 1em auto;
    padding: .5em;
    background-color: #648af1;
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    justify-items: center;
    font-family: "Roboto Slab", serif, "Times New Roman", "Times";
    color: #FDFBF9;
    border-radius: 25px;
}

.presentation-box img {
    padding: 1em;
    width: 100%;
    height: auto;
    border-radius: 25px;
}

h2{
    margin: 1em auto;
    font-family: "Roboto Slab", serif, "Times New Roman", "Times";
}

ol{
    list-style-type: none;
    line-height: 2em;
}

footer{
  margin: 1em auto;
  align-items: center;
  text-align: center;
  font-family: "Roboto", sans-serif, "Helvetica", "Arial";
  font-size: 1em;
}