@media (min-width: 70em) {
    main{
        display: grid;
        align-items: start;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    
    .contrast{
        grid-column: 1/2;
        grid-row: 1;
    }

    .proximity{
        grid-column: 2/3;
        grid-row: 1;
    }

    .vhierarchy{
        grid-column: 3/4;
        grid-row: 1;
    }

}