@media (min-width: 37.2em) {
    main{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 10px;
    }

    .contrast{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .proximity{
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .vhierarchy{
        grid-column: 1/3;
        grid-row: 2/3;
    }
}