/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/* Apply a natural box layout model to all elements */
* {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box
}

body{
    padding: 0;
    margin: 0;
}

/* Header */

header {
    padding: 0.7rem;
    background: #00A5DF;
    color:whitesmoke;
    width: 100%;
    margin: 1em auto;
    align-items: center;
    font-family: "Raleway", sans-serif, "Helvetica", "Arial";
    font-size: 0.9em;
    display: grid;
    grid-template-rows: repeat (3 1fr);
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: space-between;

}

.logo {
    padding: 1.3rem;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    justify-content: space-between;
}

.logo img {
	width: 80px;
	height: auto;
}

.headings {
	display: flex;
    flex-direction: column;
	margin-left: 0.5rem;
    line-height: 0.5rem;
    margin: 1em;
}

.headings h1 {
	font-size: 1.5rem;
}

.phrase {
	font-size: 1rem;
}

/* Social */

.social {
	margin-right: 1.5rem;
}

.social svg {
	width: 25px;
	height: auto;
}

/* Date */

.date, aside {
	margin: 1rem;
	border: 1px solid rgba(255, 255, 255, 0.664);
	padding: 0.75rem;
	background-color: rgba(255, 255, 255, 0.418);
    color:black;
    text-align: center;
    align-items: center;
    color: white;
}


/* Nav bar */

nav {
	margin: 0 auto;
	max-width: 100%;
}

nav ul {
    display: none;
	list-style-type: none;
	overflow: hidden;
    padding: 0;
}

nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
	transition: 0.5s;
}

nav a:hover {
    background-color: #be6e46;
  }

.active {
	background-color: #775253;
}

nav ul.open {
    display: block;
}

/* Hamburger Button */

#hamburgerButton {
    background-color: transparent;
    border-style: solid;
    border-color: white;
    border-radius: 0.3em;
}

#hamburgerButton span:nth-child(1) {
    display: block;
    color: white;
    padding: 0.2rem;
}

#hamburgerButton span:nth-child(2) {
    display: none;
    color: white;
    padding: 0.2rem;
}


#hamburgerButton.open span:nth-child(1) {
    display: none;
    color: white;
    padding: 0.2rem;
}

#hamburgerButton.open span:nth-child(2) {
    display: block;
    color: white;
    padding: 0.2rem;
}

/* Main */

main {
    font-family: "Esteban", serif;
    display: grid;
    grid-template-rows: repeat (6 1fr);
    padding: 1rem;
}

main div {
    background-color: #00000021;
    color: #000000;
    margin: 0.3rem;
    padding: 1rem;
    min-height: 10rem;
    border: 1px solid #00000059;
    align-items: center;
    text-align: center;

}

.hero {
    grid-row: 1/2;
}

.event {
    grid-row: 2/3;
}

.weather {
    grid-row: 3/4;
}

.news {
    grid-row: 4/5;
}

.spotlight {
    grid-row: 5/7;
    display: grid;
}

.spotlight .spotlight1 {
    grid-row: 1/2;
}

.spotlight .spotlight2 {
    grid-row: 2/3;
}

.spotlight3, .join {
    display: none;
}

/* Footer */

footer{
    padding: 2em;
    background-color: black;
    color:whitesmoke;
    width: 100%;
    margin: 1em auto;
    align-items: center;
    text-align: center;
    font-family: "Raleway", sans-serif, "Helvetica", "Arial";
    font-size: 0.9em;
}

.projectdata2 { 
    display: none;
}