/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.*/
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/* Apply a natural box layout model to all elements */
* {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html {
    width: 100%;
    min-height: 100vh;
}

body{
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Crimson Pro", serif, "Times";
    font-weight: 600;
    font-style: italic;
}




/* ------ Current date ------ */
.current-date {
    padding: 1rem; 
    margin-bottom: 2rem;
    text-align: center;
    background-color: #9ecfe5;
    font-family: "Crimson Pro", serif, "Times";
    font-weight: 300;
    font-size: 1.25rem;
    color: white;
}

/* ------ Nav Bar ------ */
nav {
	margin: 0 auto;
    padding: 1rem;
	max-width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.nav-logo {
    width: 15%;
	height: auto;
}

nav ul {
    display: none;
	list-style-type: none;
	overflow: hidden;
    padding: 0;
}

nav ul li a {
    font-family: "Mulish", sans-serif, "Helvetica", "Arial";
    font-weight: 700;
	display: block;
	color: white;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
	transition: 0.5s;
}

nav a:hover {
    color: #fdc333
}

.active {
	background-color: #775253;
}

nav ul.open {
    display: block;
    background-color:  #ebdac8;
    padding: 2rem;
    color: white;
    float: none;
}

#hmbrBtn {
    background-color: #ebdac8;
    border-style: none;
    border-radius: 0.3em;
    height: 2rem;
}

#hmbrBtn span:nth-child(1) {
    display: block;
    color: white;
    padding: 0.2rem;
}

#hmbrBtn span:nth-child(2) {
    display: none;
    color: white;
    padding: 0.2rem;
}


#hmbrBtn.open span:nth-child(1) {
    display: none;
    color: white;
    padding: 0.2rem;
}

#hmbrBtn.open span:nth-child(2) {
    display: block;
    color: white;
    padding: 0.2rem;
}

.bookingBtnlist {
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.3em;
    color: #fdc333;
}

.bookingBtn {
    display: none;
}


/* ------ Index Main ------ */

.index-main {
    display: grid;
    grid-template-rows: minmax(0, 1fr);
}

.mainimg {
    grid-row: 1/2;
    display: grid;
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-columns: 1fr;
    margin: 2rem 0;
} 

.heroimg {
    width: 100%;
    height: auto;
    grid-row: 1/3;
    grid-column: 1/2;
    position: relative;
    z-index: -1;
}

.top {
    width: 100%;
    height: auto;
    grid-row: 1/3;
    grid-column: 1/2;
    position: relative;
    z-index: 1;
}

.heroimg-title {
    color: #9ecfe5;
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: end;
    z-index: 2;
    padding: 2rem;
}

/* About Us */

.templeinfo {
    text-align: center;
    margin: 2rem;
}

.templeinfo p {
    font-family: "Mulish", sans-serif, "Helvetica", "Arial";
    line-height: 1.5rem;
}


/* Weather */

.weather {
    /* background-color: #9ecfe5; */
    text-align: center;
}

.weather h1 {
    color: #fdc333;
}

.weather hr {
    width:80%;
    margin: auto;
}

.weather figure {
    margin: 0;
}

.weather p, .weather h6, .weather h4{
    font-family: "Mulish", sans-serif, "Helvetica", "Arial";
}

/* Decorative image */

.home-decorativeimg{
    width: 100%;
    height: auto;
    margin: 2rem 0;
}

/* Contact info */

.contactinfo {
    grid-row: 5/6;
    align-items: center;
    text-align: center;
    margin: 0 1.5rem 3rem;
}

.contactinfo h1 {
    color: #ebdac8;
}

.contactinfo p{
    font-family: "Mulish", sans-serif, "Helvetica", "Arial";
    line-height: 1.5rem;
}

.contactinfo a {
    background-color: #fdc333;
    width: 40%;
    padding: 1rem;
    border-radius: 0.3em;
    color: white;
    font-family: "Mulish", sans-serif, "Helvetica", "Arial";
    font-weight: 700;
	display: block;
	text-align: center;
	text-decoration: none;
	transition: 0.5s;
    margin: auto;
}

/* ------ Footer ------ */

footer {
    padding: 2em;
    background-color: #99c667;
    color: white;
    width: 100%;
    align-items: center;
    text-align: center;
    font-family: "Mulish", sans-serif, "Helvetica", "Arial";
    font-size: 0.9rem;
    line-height: 1.5rem;
}

.infologo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.social-icons{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.social-icons img{
    height: 3rem;
    width: auto;
    padding: 0.2rem;
}

.foot-logo {
    width: 15%;
	height: auto;
}

.imgname-footer {
    font-family: "Crimson Pro", serif, "Times";
    font-weight: 600;
    font-style: italic;
    margin-top: 0.2rem;
}

hr {
    margin-left: 0;
    margin-right: 0;
    border-top: 0px;
    border-bottom-color: white;
}