/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/* Apply a natural box layout model to all elements */
* {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box
}

body{
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif, "Helvetica", "Arial";
}
/* Header */

header {
    background: #00A5DF;
    color:whitesmoke;
    width: 100%;
    margin: 1em auto;
    align-items: center;
    font-family: "Raleway", sans-serif, "Helvetica", "Arial";
    font-size: 0.9em;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: space-between;
}


/* Banner */
.banner {
    display: none;
    align-items: start;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    color:#000000;
    padding: 1rem;
    text-align: center;
}

/* .closebutton {
    font-size: 1.5rem;
    font-weight: 400;
} */


/* Logo */

.logo {
    padding: 1.3rem;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    justify-content: space-between;
}

.logo img {
	width: 80px;
	height: auto;
}

.headings {
	display: flex;
    flex-direction: column;
	margin-left: 0.5rem;
    line-height: 0.5rem;
    margin: 1em;
}

.headings h1 {
	font-size: 1.5rem;
}

.phrase {
	font-size: 1rem;
}

/* Social */

.social {
	margin-right: 1.5rem;
}

.social svg {
	width: 25px;
	height: auto;
}

/* Date */

.date, aside {
	margin: 1rem;
	border: 1px solid rgba(255, 255, 255, 0.664);
	padding: 0.75rem;
	background-color: rgba(255, 255, 255, 0.418);
    color:black;
    text-align: center;
    align-items: center;
    color: white;
}


/* Nav bar */

nav {
	margin: 0 auto;
	max-width: 100%;
}

nav ul {
    display: none;
	list-style-type: none;
	overflow: hidden;
    padding: 0;
}

nav ul li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
	transition: 0.5s;
}

nav a:hover {
    background-color: #be6e46;
}

.active {
	background-color: #775253;
}

nav ul.open {
    display: block;
}

/* Hamburger Button */

#hamburgerButton {
    background-color: transparent;
    border-style: solid;
    border-color: white;
    border-radius: 0.3em;
}

#hamburgerButton span:nth-child(1) {
    display: block;
    color: white;
    padding: 0.2rem;
}

#hamburgerButton span:nth-child(2) {
    display: none;
    color: white;
    padding: 0.2rem;
}


#hamburgerButton.open span:nth-child(1) {
    display: none;
    color: white;
    padding: 0.2rem;
}

#hamburgerButton.open span:nth-child(2) {
    display: block;
    color: white;
    padding: 0.2rem;
}

/* Main */

.home-page {
    font-family: "Esteban", serif;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 1rem;
}

.home-page div {
    color: #000000;
    margin: 0.3rem;
    padding: 1rem;
    min-height: 10rem;
    /* border: 1px solid #00000059; */
    align-items: center;
    text-align: center;

}

.hero {
    grid-row: 1/2;
    background-image: url('/chamber2/img/laplata.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.hero h2{
    background-color: #775253;
    color: white;
    padding: 0.5rem;
    font-size: 1.4rem;
    grid-row: 1/2;
}

.event {
    margin-top: 4rem;
    grid-row: 2/3;
}

.event p{
    line-height: 2rem;
}

.weather {
    grid-row: 3/4;
    background: #00A5DF;
    color:whitesmoke;
}

.news {
    grid-row: 4/5;
    background-color: white;
}

.news p{
    line-height: 2rem;
}

.spotlight {
    grid-row: 5/7;
    display: grid;
}

.spotlight .spotlight1 {
    grid-row: 1/2;
}

.spotlight .spotlight2 {
    grid-row: 2/3;
}

.spotlight3, .join {
    display: none;
}

.spotlight p {
    font-size: 0.8rem;
}

/* Discover Page */

.discover-page {
    font-family: "Esteban", serif;
    padding: 1rem;
    margin: 0.3rem;
}

.discover-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    padding: 1rem;
    size: 100%;
}

.discover-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/*Form*/

.membership-form {
 margin: 0.6rem;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid #be6e46;
    border-radius: 10px;
    padding: 0.5rem;
}

form legend {
    color: #775253;
    margin: 0 1rem;
    padding: 0 0.5rem;
    font-family: "Raleway", sans-serif, "Helvetica", "Arial";
    font-weight: 600;
}

form label.top, textarea {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: 0.85rem;
    font-family: "Esteban", serif;
}

form label.top input, form label.top select, textarea {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: 0.75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1)
}

form label.sbs {
    display: block;
    padding: 0.75rem;
    color: #555;
    font-family: "Raleway", sans-serif, "Helvetica", "Arial";
    font-size: 0.9rem;
}

form input.submitBtn {
    border: none;
    background-color: #00A5DF;
    color: white;
    border-radius: 1rem;
    padding: 0.7rem 1.5rem;
    margin: 0 0 2rem 10%;
    width: 96%;
    max-width: 20rem;
    font-family: "Raleway", sans-serif, "Helvetica", "Arial";
    font-weight: 600;
}

form label.top input:required {
    border-left: #9c2c13 solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

/* Footer */

footer{
    padding: 2em;
    background-color: black;
    color:whitesmoke;
    width: 100%;
    margin: 1em auto;
    align-items: center;
    text-align: center;
    font-family: "Raleway", sans-serif, "Helvetica", "Arial";
    font-size: 0.9em;
}

.infologo img {
    width: 20%;
	height: auto;
}

.projectdata2 { 
    display: none;
}


/* Directory Page */

.menu {
	margin: 1rem auto;
	padding: 0.5rem;
	text-align: center;
}

.menu button {
    margin: 0.5rem;
	padding: 1rem;
}

.maincards {
	border: 1px solid #be6e46ad;
	padding: 0.5rem;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease-out;
}
    
.maincards:hover {
    background-color: #be6e46a1;
}

.cards {
	display: grid;
    margin: 0 6rem 0 6rem;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	align-items: center;
    font-family: "Raleway", sans-serif, "Helvetica", "Arial";
    grid-gap: 1rem;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: flex;
	align-items: center;
}

.grid section {
	flex-direction: column;
	text-align: center;
}


.list section {
	flex-direction: row;
	justify-content: left;
}


.list section img {
	display: none; /* smaller viewports only */
}

section h3 {
	font-size: 1.5rem;
}

section a {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 0.9rem;
}

.card-img {
	height: 90px;
	max-width: 100%;
    margin-top: 0.5rem;
}

@media (min-width: 700px) {
	.list section img {
		display: block;
	}
}