@media only screen and (min-width: 37.5em) {
	h1 {
		font-size: 1.5rem;
	}

	/* Horizontal Menu Examples */
	/* Flex *********************/
	 		nav ul { display: flex; }
		  nav ul li { flex: 1 1 auto; }

    .index {
        grid-template-columns: 1fr 1fr;
    }

    .site-purpose{
        grid-column: 1/2;
        margin: 0 1em;
    }

    .site-name{
        grid-column: 2/3;
        margin: 0 1em;
    }

    .logo{
        grid-column: 1/3;
        margin: 2em 1em 0;
    }

    .logo{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .logo h2{
        grid-column-start: 1;
    }

    .white-brand{
        grid-column: 1/2;
        padding: 0 1em;
    }

    .ligthblue-brand{
        grid-column: 2/3;
        padding: 0 1em;
    }

    .black-brand{
        grid-column: 3/4;
        padding: 0 1em;
    }

    .target-audience{
        grid-template-columns: 1fr 1fr;
    }

    .target{
        grid-column: 1/2;
    }

    .scenarios{
        grid-column: 2/3;
    }

    .francisco{
        grid-column: 1/2;
    }

    .jorge{
        grid-column: 2/3;
    }

    .color-html h2, .color-html p{
        text-align: center;
        padding: 0.5em;
    }

    .colors{
        padding: 1em;
    }

}